<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SomerenDatabase" connectionString="Data Source=project-someren.database.windows.net;
         Initial Catalog=Project_Someren; User=Reading; Password=ReadBest@nd585"/>
    </connectionStrings>
</configuration>